In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import re
%matplotlib inline

In [182]:
df = pd.read_csv('phl_hec_pared.csv')

In [183]:
df.head()

,P. Name,P. Mass Class,P. Habitable Class,P. Mass (EU),P. Radius (EU),P. Density (EU),P. Gravity (EU),P. Esc Vel (EU),P. Teq Min (K),P. Teq Mean (K),...,S. Luminosity (SU),S. Age (Gyrs),S. Distance (pc),S. No. Planets,S. No. Planets HZ,S. Hab Zone Min (AU),S. Hab Zone Max (AU),P. ESI,P. Habitable,P. Hab Moon
0,1RXS 1609 b,Jovian,non-habitable,4451.16,19.04,0.64,12.28,15.29,11.4,11.4,...,0.444285,0.011,145.0,1,0,0.540,1.362,0.05,0,0
1,1SWASP J1407 b,Jovian,non-habitable,6358.80,10.94,4.86,53.12,24.11,97.7,97.7,...,0.329588,0.016,133.0,1,0,0.461,1.143,0.07,0,0
2,2M 0103-55(AB) b,Jovian,non-habitable,4133.22,11.40,2.79,31.79,19.04,11.4,11.4,...,0.027955,0.030,47.2,1,0,0.136,0.347,0.06,0,0
3,2M 0122-24 b,Jovian,non-habitable,6358.80,11.20,4.53,50.69,23.83,14.4,14.4,...,0.027955,0.120,36.0,1,0,0.136,0.347,0.08,0,0
4,2M 0219-39 b,Jovian,non-habitable,4419.37,16.13,1.05,16.99,16.55,5.6,5.6,...,0.005765,NaN,39.4,1,0,0.062,0.165,0.06,0,0

In [184]:
len(df)

3408

In [148]:
df.columns

Index(['P. Name', 'P. Mass Class', 'P. Habitable Class', 'P. Mass (EU)',
       'P. Radius (EU)', 'P. Density (EU)', 'P. Gravity (EU)',
       'P. Esc Vel (EU)', 'P. Teq Min (K)', 'P. Teq Mean (K)',
       'P. Teq Max (K)', 'P. Surf Press (EU)', 'P. Period (days)',
       'P. Sem Major Axis (AU)', 'P. Mean Distance (AU)', 'S. Name',
       'S. Constellation', 'S. Type', 'S. Mass (SU)', 'S. Radius (SU)',
       'S. Teff (K)', 'S. Luminosity (SU)', 'S. Age (Gyrs)',
       'S. Distance (pc)', 'S. No. Planets', 'S. No. Planets HZ',
       'S. Hab Zone Min (AU)', 'S. Hab Zone Max (AU)', 'P. ESI',
       'P. Habitable', 'P. Hab Moon'],
      dtype='object')

In [73]:
zodiac = "1. Aquarius, the water bearer 2. Aries, the ram 3. Cancer, the crab 4. Capricorn, the goat 5. Gemini, the twins 6. Leo, the lion 7. Libra, the scales 8. Pisces, the fish 9. Sagittarius, the archer 10. Scorpio, the scorpion 11. Taurus, the bull 12.Virgo, the virgin"

In [58]:
north_h = "1. Andromeda, the princess 2. Antlia, the pump 3. Aquila, the eagle 4. Auriga, the chariot driver 5. Bootes, the herdsman 6. Caelum, the chisel 7. Camelopardalis, the giraffe 8. Canes Venatici, the hunting dogs 9. Canis Major, the big dog 10. Canis Minor, the little dog 11. Cassiopeia, the queen 12. Cepheus, the king 13. Cetus, the whale 14. Columba, the dove 15. Coma Berenices, Berenice's hair 16. Corona Australis, the southern crown 17. Corona Borealis, the northern crown 18. Corvus, the crow 19. Crater, the cup 20. Cygnus, the swan 21. Delphinus, the dolphin 22. Draco, the dragon 23. Equuleus, the little horse 24. Fornax, the furnace 25. Hercules, the hero 26. Horologium, the clock 27. Hydra, the water snake 28. Lacerta, the lizard 29. Leo Minor, the little lion 30. Lupus, the wolf 31. Lynx, the lynx 32. Lyra, the harp 33. Microscopium, the microscope 34. Monoceros, the unicorn 35. Ophiuchus, the sepent holder 36. Orion, the hunter 37. Pegasus, the flying horse 38. Perseus, the Medusa killer 39. Piscis Australis, the southern fish 40. Puppis, the ship's stern 41. Pyxis, the ship's compass 42. Sagitta, the arrow 43. Sculptor, the sculptor 44. Scutum, the shield 45. Serpens, the snake 46. Sextans, the sextant 47. Telescopium, the telescope 48. Triangulum, the triangle 49. Ursa Major, the big bear 50. Ursa Minor, the little bear 51. Vulpecula, the little fox"

In [59]:
south_h = "1. Apus, the bird of paradise 2. Ara, the altar 3. Carina, the ship's keel 4. Centaurus, the centaur 5. Chamaeleon, the chameleon 6. Circinus, the compass 7. Crux, the southern cross 8. Dorado, the swordfish 9. Eridanus, the river 10. Grus, the crane 11. Hydrus, the water snake 12. Indus, the Indian 13. Lepus, the rabbit 14. Mensa, the table 15. Musca, the fly 16. Norma, the surveyor's level 17. Octans, the octant 19. Pavo, the peacock 20. Phoenix, the phoenix 21. Pictor, the easel 22. Reticulum, the net 23. Triangulum Australe, the southern triangle 24. Tucana, the toucan 25. Vela, the ship's sails 26. Volans, the flying fish"

In [60]:
df[df['S. Constellation'].apply(lambda x: not x in south_h and not x in north_h and not x in zodiac)]['S. Constellation'].value_counts()

Series([], Name: S. Constellation, dtype: int64)

In [233]:
df_zod=df[df['S. Constellation'].apply(lambda x: x in zodiac and not x=='Sagitta')]

In [234]:
df_nh=df[df['S. Constellation'].apply(lambda x: x in north_h)]

In [235]:
df_sh=df[df['S. Constellation'].apply(lambda x: x in south_h)]

In [188]:
df['P. Mass Class'].value_counts()

Jovian         1036
Superterran     908
Neptunian       744
Terran          646
Subterran        68
Mercurian         6
Name: P. Mass Class, dtype: int64

In [314]:
len(df_zod)

320

In [320]:
for i, row in enumerate(df_zod.iterrows()):
    if i+1==len(df_zod):
        print(row[1]['P. Name'])
    else:
        print(row[1]['P. Name']+',')

1RXS 1609 b,
2M 0441+23 b,
2M 0746+20 b,
2M 2206-20 b,
11 Ophiuchus b,
30 Ari B b,
55 Cancer b,
55 Cancer c,
55 Cancer d,
55 Cancer e,
55 Cancer f,
61 Vir b,
61 Vir c,
61 Vir d,
70 Vir b,
91 Aqr b,
Aldebaran b,
alf Ari b,
BD+15 2375 b,
BD+20 274 c,
BD+20 594 b,
BD+20 2457 b,
BD+20 2457 c,
BD+26 1888 b,
beta Cancer b,
DH Tau b,
DP Leo b,
EPIC-206011691 b,
EPIC-206011691 c,
EPIC-210490365 b,
EPIC 318 b,
EPIC 888 b,
EPIC 201295312 b,
EPIC 201445392 c,
EPIC 201637175 b,
EPIC 203771098 b,
EPIC 203771098 c,
EPIC 205117205 b,
EPIC 211089792 b,
eps Tau b,
FU Tau b,
FW Tau b,
GJ 176 b,
GJ 436 b,
GJ 504 b,
GJ 581 b,
GJ 581 c,
GJ 581 e,
GJ 667 C b,
GJ 667 C c,
GJ 667 C d,
GJ 667 C e,
GJ 667 C f,
GJ 667 C g,
GJ 682 b,
GJ 682 c,
GJ 785 b,
GJ 785 c,
GJ 849 b,
GJ 849 c,
GJ 876 b,
GJ 876 c,
GJ 876 d,
GJ 876 e,
GJ 3470 b,
GSC 6214-210 b,
GU Psc b,
HAT-P-20 b,
HAT-P-24 b,
HAT-P-25 b,
HAT-P-26 b,
HAT-P-27-WASP-40 b,
HAT-P-33 b,
HAT-P-39 b,
HAT-P-43 b,
HAT-P-50 b,
HAT-P-51 b,
HAT-P-52 b,
HAT-P-54 b,
HAT-P-56 b,
HATS-3 b,
HATS-7 b,
HATS-8 b,
HATS-9 b,
HATS-10 b,
HATS-11 b,
HATS-12 b,
HATS-13 b,
HATS-14 b,
HATS-15 b,
HD 1502 b,
HD 3651 b,
HD 3651 c,
HD 4203 b,
HD 4203 c,
HD 4313 b,
HD 5891 b,
HD 8574 b,
HD 10697 b,
HD 12484 b,
HD 12661 b,
HD 12661 c,
HD 14067 b,
HD 20367 b,
HD 24040 b,
HD 28678 b,
HD 32963 b,
HD 37124 b,
HD 37124 c,
HD 37124 d,
HD 50554 b,
HD 59686 b,
HD 62509 b,
HD 67087 b,
HD 67087 c,
HD 73534 b,
HD 77065 b,
HD 79498 b,
HD 81040 b,
HD 88133 b,
HD 89307 b,
HD 95089 b,
HD 96063 b,
HD 97658 b,
HD 99109 b,
HD 99492 b,
HD 100655 b,
HD 100777 b,
HD 102195 b,
HD 102272 b,
HD 102272 c,
HD 102329 b,
HD 103720 b,
HD 106252 b,
HD 106270 b,
HD 106515 A b,
HD 107148 b,
HD 109271 b,
HD 109271 c,
HD 110014 b,
HD 114783 b,
HD 125612 b,
HD 125612 c,
HD 125612 d,
HD 126614 b,
HD 130322 b,
HD 134987 b,
HD 134987 c,
HD 141937 b,
HD 145377 b,
HD 147513 b,
HD 147873 b,
HD 147873 c,
HD 153950 b,
HD 159868 b,
HD 159868 c,
HD 162020 b,
HD 164604 b,
HD 165155 b,
HD169142 b,
HD 169830 b,
HD 169830 c,
HD 171238 b,
HD 179949 b,
HD 180902 b,
HD 181342 b,
HD 181720 b,
HD 187085 b,
HD 190647 b,
HD 202206 b,
HD 202206 c,
HD 204313 b,
HD 204313 c,
HD 204313 d,
HD 204941 b,
HD 206610 b,
HD 210277 b,
HD 212771 b,
HD 215152 b,
HD 215152 c,
HD 217107 b,
HD 217107 c,
HD 217786 b,
HD 218566 b,
HD 220689 b,
HD 222582 b,
HD 283668 b,
HD 284149 b,
HD 285507 b,
HIP 14810 b,
HIP 14810 c,
HIP 14810 d,
HIP 73990 b,
HIP 73990 c,
HIP 77900 b,
HIP 78530 b,
HIP 79431 b,
HIP 116454 b,
HU Aqr(AB) c,
HW Vir(AB) b,
K2-3 b,
K2-3 c,
K2-3 d,
K2-8 b,
K2-9 b,
K2-10 b,
K2-16 b,
K2-16 c,
K2-18 b,
K2-19 b,
K2-19 c,
K2-19 d,
K2-26 b,
K2-27 b,
KELT-4A b,
KMT-2015-1 b,
LKCA 15 b,
MOA-2007-BLG-192-L b,
MOA-2007-BLG-197L b,
MOA-2007-BLG-400-L b,
MOA-2008-BLG-310-L b,
MOA-2008-BLG-379L b,
MOA-2009-BLG-266L b,
MOA-2009-BLG-319 b,
MOA-2009-BLG-387L b,
MOA-2010-BLG-328L b,
MOA-2010-BLG-353L b,
MOA-2010-BLG-477L b,
MOA-2011-BLG-028L b,
MOA-2011-BLG-262L b,
MOA-2011-BLG-274 b,
MOA-2011-BLG-293L b,
MOA-2011-BLG-322L b,
MOA-2013-BLG-220L b,
MOA-2013-BLG-605L b,
MOA-bin-1 b,
mu Leo b,
NY Vir b,
NY Vir c,
OGLE-2003-BLG-235L b,
OGLE-2005-071L b,
OGLE-2005-169L b,
OGLE-2005-390L b,
OGLE-2006-109L b,
OGLE-2006-109L c,
OGLE-2007-BLG-368L b,
OGLE-2008-BLG-092L b,
OGLE-2008-BLG-355L b,
OGLE-2009-BLG-151L b,
OGLE-2011-BLG-0265L b,
OGLE-2011-BLG-0420L b,
OGLE-2012-BLG-0406L b,
OGLE-2012-BLG-0563L b,
OGLE-2012-BLG-0724L b,
OGLE-2013-BLG-0102L b,
OGLE-2013-BLG-0341L b,
OGLE-2014-BLG-0124L b,
OGLE-2014-BLG-0257L b,
OGLE-2014:BLG-1760L b,
OGLE-2015-BLG-0954L b,
OGLE-2015-BLG-0966L b,
OGLE-TR-10 b,
OGLE-TR-56 b,
Pr 0201 b,
Pr 0211 b,
Pr 0211 c,
PSR 1257 12 b,
PSR 1257 12 c,
PSR 1257 12 d,
PSR B1620-26 b,
PSR J2051-0827 b,
Qatar-2 b,
Ross 458(AB) c,
SAND364 b,
SWEEPS-04b,
SWEEPS-11b,
tau Gem b,
TRAPPIST-1 b,
TRAPPIST-1 c,
TRAPPIST-1 d,
TYC+1422-614-1 b,
TYC+1422-614-1 c,
USco1602-2401 b,
USco1610-1913 b,
USco1612-1800 b,
UScoCTIO 108 b,
WASP-6 b,
WASP-11-HAT-P-10 b,
WASP-16 b,
WASP-17 b,
WASP-24 b,
WASP-28 b,
WASP-32 b,
WASP-37 b,
WASP-39 b,
WASP-47 b,
WASP-47 c,
WASP-47 d,
WASP-47 e,
WASP-54 b,
WASP-55 b,
WASP-57 b,
WASP-65 b,
WASP-67 b,
WASP-68 b,
WASP-69 b,
WASP-70A b,
WASP-75 b,
WASP-76 b,
WASP-85 b,
WASP-89 b,
WASP-104 b,
WASP-106 b,
WASP-109 b,
WASP-110 b,
WASP-111 b,
WASP-123 b,
WASP-157 b,
YBP1194 b,
YBP1514 b

In [325]:
def json_maker(name, df):
    json_file=open(name+'.json', 'w')
    json_file.write('{\n"name": ')
    json_file.write('"{}", \n"children":[\n'.format(name))
    for a, const in enumerate(df['S. Constellation'].unique()):
        json_file.write('\t{\n')
        json_file.write('\t"name": "{}", \n\t"children": [\n'.format(const))
        const_df=df[df['S. Constellation'].apply(lambda x: x==const)]
        for i, row in enumerate(const_df.iterrows()):
            json_file.write('\t\t{')
            json_file.write('"name": "{}", "size": {}'.format(row[1]['P. Name'], row[1]['P. Radius (EU)']))
            if i+1==len(const_df):
                json_file.write('}\n')
            else:
                json_file.write('},\n')
        if a+1==len(df['S. Constellation'].unique()):
            json_file.write('\t\t]}\n')
        else:
            json_file.write('\t\t]},\n')
    json_file.write('\t]\n}')
    json_file.close()
    return 'done'

In [386]:
def json_maker(name, df):
    json_file=open(name+'.json', 'w')
    json_file.write('{\n"name": ')
    json_file.write('"{}", \n"children":[\n'.format(name))
    for a, const in enumerate(df['S. Constellation'].unique()):
        json_file.write('\t{\n')
        json_file.write('\t"name": "{}", \n\t"children": [\n'.format(const))
        const_df=df[df['S. Constellation'].apply(lambda x: x==const)]
        for e, star_name in enumerate(const_df['S. Name'].unique()):
            json_file.write('\t\t{\n')
            json_file.write('\t\t"name": "{}", \n\t\t"children": [\n'.format(star_name))
            stars_df=const_df[const_df['S. Name'].apply(lambda x: x==star_name)]
            for i, row in enumerate(stars_df.iterrows()):
                json_file.write('\t\t\t{')
                json_file.write('"name": "{}", "size": {}, "temp": {}'.format(row[1]['P. Name'], 
                                                                          row[1]['P. Radius (EU)'],
                                                                          row[1]['P. Teq Mean (K)']))
                if i+1==len(stars_df):
                    json_file.write('}\n')
                else:
                    json_file.write('},\n')
            if e+1==len(const_df['S. Name'].unique()):
                json_file.write('\t\t]}\n')
            else:
                json_file.write('\t\t]},\n')
        if a+1==len(df['S. Constellation'].unique()):
            json_file.write('\t\t]}\n')
        else:
            json_file.write('\t\t]},\n')
    json_file.write('\t]\n}')
    json_file.close()
    return 'done'

In [387]:
json_maker('Zodiac', df_zod)

'done'

In [388]:
json_maker('Northern Hemisphere', df_nh)

'done'

In [389]:
json_maker('Southern Hemisphere', df_sh)

'done'

In [390]:
planets_json=open('planets.json', 'w')
planets_json.write('{\n"name": "exoplanets",\n"children":[\n\n')
planets_json.write(open('Zodiac.json', 'r').read())
planets_json.write(',\n')
planets_json.write(open('Northern Hemisphere.json', 'r').read())
planets_json.write(',\n')
planets_json.write(open('Southern Hemisphere.json', 'r').read())
planets_json.write('\n\n]}')
planets_json.close()

In [48]:
df['P. Period (days)'].describe()

/usr/local/lib/python3.5/dist-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

count      3326.000000
mean        756.819224
std       14565.611221
min           0.070000
25%                NaN
50%                NaN
75%                NaN
max      730000.000000
Name: P. Period (days), dtype: float64

In [9]:
df_jov=df[df['P. Mass Class']=='Jovian']

In [21]:
len(df_jov[df_jov['P. Mass (EU)']>200])

773

In [24]:
df_jov['P. Mass (EU)'].median()

495.99

In [25]:
df_sjov=df_jov[df_jov['P. Mass (EU)']>500]

In [28]:
df_jov=df_jov[df_jov['P. Mass (EU)']<500]

In [30]:
len(df_sjov)

505

In [10]:
df_sterr=df[df['P. Mass Class']=='Superterran']

In [98]:
df_subt=df[df['P. Mass Class']=='Subterran']

In [11]:
df_nep=df[df['P. Mass Class']=='Neptunian']

In [12]:
df_terr=df[df['P. Mass Class']=='Terran']

In [64]:
len(df_terr)

646

In [13]:
df_merc=df[df['P. Mass Class']=='Mercurian']

In [65]:
len(df_merc)

5

In [91]:
df_terr_h=(df_terr[df_terr['P. Habitable']==1])

In [94]:
df_terr=(df_terr[df_terr['P. Habitable']==0])

In [95]:
len(df[df['P. Hab Moon']==1])

40

In [78]:
def p_class_div(df, name):
    json_file=open(name+'.json', 'w')
    json_file.write('{"name": ')
    json_file.write('"{}","children":'.format(name))
    json_file.write(df[['P. Name','P. Habitable Class','P. Mass (EU)','P. Gravity (EU)','P. Ts Mean (K)',
                        'P. Radius (EU)','P. Period (days)']]
                    .reset_index().to_json(orient='records'))
    json_file.write('}')
    json_file.close()
    return 'done'

In [4]:
df['P. Mass Class'].value_counts()

Jovian         1039
Superterran     908
Neptunian       744
Terran          646
Subterran        68
Mercurian         5
Name: P. Mass Class, dtype: int64

In [79]:
p_class_div(df_merc, 'mercurian')

'done'

In [80]:
p_class_div(df_terr, 'terran')

'done'

In [81]:
p_class_div(df_jov, 'jovian')

'done'

In [82]:
p_class_div(df_sjov, 'super-jovian')

'done'

In [83]:
p_class_div(df_sterr, 'super-terran')

'done'

In [84]:
p_class_div(df_nep, 'neptunian')

'done'

In [31]:
df['P. Habitable'].value_counts()

0    3373
1      42
Name: P. Habitable, dtype: int64

In [6]:
df['P. Hab Moon'].value_counts()

0    3375
1      40
Name: P. Hab Moon, dtype: int64

In [16]:
df_meso=df[(df['P. Mass Class']=='Superterran')&(df['P. Habitable Class']=='mesoplanet')]

In [19]:
df_meso['P. Name']

141          GJ 180 b
142          GJ 180 c
148          GJ 422 b
176          GJ 832 c
803           K2-18 b
855       Kepler-22 b
946       Kepler-61 b
950       Kepler-62 e
1494     Kepler-283 c
1536     Kepler-298 d
1816     Kepler-440 b
1819     Kepler-443 b
1838     Kepler-452 b
2106     Kepler-705 b
2520    Kepler-1090 b
2858    Kepler-1410 b
2991    Kepler-1540 b
2998    Kepler-1544 b
3006    Kepler-1552 b
3092    Kepler-1638 b
Name: P. Name, dtype: object

In [26]:
df[df['P. Habitable']==1][['P. Name', 'P. Mass (EU)', 'P. Gravity (EU)']]

            P. Name  P. Mass (EU)  P. Gravity (EU)
137        GJ 163 c          7.26             2.17
141        GJ 180 b          8.30             2.32
142        GJ 180 c          6.40             2.04
148        GJ 422 b          9.90             2.53
159      GJ 667 C c          3.80             1.61
161      GJ 667 C e          2.70             1.39
162      GJ 667 C f          2.70             1.39
170        GJ 682 c          8.70             2.37
176        GJ 832 c          5.40             1.89
187       GJ 3293 c          8.57             2.35
407      HD 40307 g          7.09             2.15
797          K2-3 d         11.10             4.74
799          K2-9 b         16.77             3.31
803         K2-18 b         16.46             3.28
811       Kapteyn b          4.80             1.79
855     Kepler-22 b         20.36             3.68
946     Kepler-61 b         13.85             2.99
950     Kepler-62 e          4.54             1.74
951     Kepler-62 f          2.81             1.41
1212   Kepler-174 d         14.78             3.10
1243   Kepler-186 f          1.47             1.07
1494   Kepler-283 c          7.04             2.14
1530   Kepler-296 e          3.32             1.52
1531   Kepler-296 f          6.14             2.01
1536   Kepler-298 d         26.81             4.30
1814   Kepler-438 b          1.27             1.01
1816   Kepler-440 b          7.75             2.24
1818   Kepler-442 b          2.34             1.30
1819   Kepler-443 b         19.53             3.60
1838   Kepler-452 b          4.72             1.77
2106   Kepler-705 b         12.69             2.86
2520  Kepler-1090 b         16.81             3.32
2663  Kepler-1229 b          2.73             1.39
2858  Kepler-1410 b          6.56             2.07
2991  Kepler-1540 b         26.25             4.25
2998  Kepler-1544 b          6.56             2.07
3006  Kepler-1552 b         25.16             4.14
3060  Kepler-1606 b         11.88             2.77
3092  Kepler-1638 b          7.92             2.26
3149     KOI-4427 b          7.43             2.20
3254      tau Cet e          4.29             1.70
3402    Wolf 1061 c          4.26             1.69

In [30]:
df[df['P. Name'].str.contains('KOI')]

,P. Name,P. Name Kepler,P. Name KOI,P. Zone Class,P. Mass Class,P. Composition Class,P. Atmosphere Class,P. Habitable Class,P. Min Mass (EU),P. Mass (EU),...,P. SPH,P. Int ESI,P. Surf ESI,P. ESI,S. HabCat,P. Habitable,P. Hab Moon,P. Confirmed,P. Disc. Method,P. Disc. Year
3126,KOI-89 b,NaN,NaN,Hot,Neptunian,gas,metals-rich,non-habitable,NaN,25.44,...,NaN,0,0,0.16,0,0,0,1,Primary Transit,2015
3127,KOI-89 c,NaN,NaN,Hot,Neptunian,gas,metals-rich,non-habitable,NaN,22.20,...,NaN,0,0,0.20,0,0,0,1,Primary Transit,2015
3128,KOI-188 b,NaN,NaN,Hot,Jovian,gas,metals-rich,non-habitable,NaN,79.49,...,NaN,0,0,0.08,0,0,0,1,Primary Transit,2014
3129,KOI-192 b,NaN,NaN,Hot,Jovian,gas,metals-rich,non-habitable,NaN,92.20,...,NaN,0,0,0.07,0,0,0,1,Primary Transit,2014
3130,KOI-195 b,NaN,NaN,Hot,Jovian,gas,metals-rich,non-habitable,NaN,108.10,...,NaN,0,0,0.07,0,0,0,1,Primary Transit,2014
3131,KOI-206 b,NaN,NaN,Hot,Jovian,gas,hydrogen-rich,non-habitable,NaN,922.03,...,NaN,0,0,0.11,0,0,0,1,Primary Transit,2012
3132,KOI-368.01 b,NaN,NaN,Hot,Jovian,NaN,NaN,non-habitable,NaN,NaN,...,0.0,0,0,0.06,0,0,0,1,Primary Transit,2014
3133,KOI-372 b,NaN,NaN,Hot,Jovian,gas,hydrogen-rich,non-habitable,NaN,1033.31,...,NaN,0,0,0.25,0,0,0,1,Primary Transit,2015
3134,KOI-372 c,NaN,NaN,Warm,Neptunian,gas,hydrogen-rich,non-habitable,42.86,42.86,...,NaN,0,0,0.61,0,0,0,1,TTV,2015
3135,KOI-620.02 b,NaN,NaN,Hot,Superterran,gas,metals-rich,non-habitable,NaN,7.60,...,NaN,0,0,0.31,0,0,0,1,TTV,2014
3136,KOI-680 b,NaN,NaN,Hot,Jovian,gas,hydrogen-rich,non-habitable,NaN,197.12,...,NaN,0,0,0.12,0,0,0,1,Primary Transit,2012
3137,KOI-682 b,NaN,NaN,Warm,Jovian,gas,hydrogen-rich,non-habitable,NaN,256.00,...,NaN,0,0,0.41,0,0,0,1,Primary Transit,2015
3138,KOI-771 b,NaN,NaN,Warm,Jovian,NaN,NaN,non-habitable,NaN,NaN,...,0.0,0,0,0.30,0,0,0,1,Primary Transit,2015
3139,KOI-830 b,NaN,NaN,Hot,Jovian,gas,hydrogen-rich,non-habitable,NaN,403.78,...,NaN,0,0,0.08,0,0,0,1,Primary Transit,2014
3140,KOI-1089.02 b,NaN,NaN,Hot,Jovian,gas,hydrogen-rich,non-habitable,NaN,203.48,...,NaN,0,0,0.12,0,0,0,1,Primary Transit,2014
3141,KOI-1257 A b,NaN,NaN,Hot,Jovian,gas,hydrogen-rich,non-habitable,NaN,461.01,...,NaN,0,0,0.17,0,0,0,1,Primary Transit,2014
3142,KOI-1299 c,NaN,NaN,Hot,Jovian,gas,hydrogen-rich,non-habitable,836.18,836.18,...,NaN,0,0,0.20,0,0,0,1,Radial Velocity,2014
3143,KOI-1781 b,NaN,NaN,Hot,Superterran,rocky-iron,metals-rich,non-habitable,NaN,8.10,...,0.0,0,0,0.27,0,0,0,1,Primary Transit,2013
3144,KOI-1843 b,NaN,NaN,Hot,Subterran,rocky-iron,no-atmosphere,non-habitable,NaN,0.32,...,0.0,0,0,0.27,0,0,0,1,Primary Transit,2013
3145,KOI-2138 b,NaN,NaN,Hot,Superterran,rocky-iron,metals-rich,non-habitable,NaN,13.26,...,0.0,0,0,0.25,0,0,0,1,Primary Transit,2015
3146,KOI-2700 b,NaN,NaN,Hot,Terran,rocky-water,no-atmosphere,non-habitable,NaN,0.86,...,0.0,0,0,0.30,0,0,0,1,Primary Transit,2013
3147,KOI-2939(AB) b,NaN,NaN,Warm,Jovian,gas,hydrogen-rich,non-habitable,NaN,483.27,...,NaN,0,0,0.34,0,0,0,1,Primary Transit,2015
3148,KOI-3791 b,NaN,NaN,Warm,Jovian,gas,hydrogen-rich,non-habitable,NaN,52.15,...,NaN,0,0,0.46,0,0,0,1,Primary Transit,2015
3149,KOI-4427 b,NaN,NaN,Warm,Superterran,rocky-iron,hydrogen-rich,hypopsychroplanet,NaN,7.43,...,0.0,0,0,0.52,0,1,0,0,transit,2015
3150,KOI-5833 b,NaN,NaN,Warm,Neptunian,gas,metals-rich,non-habitable,NaN,8.29,...,NaN,0,0,0.61,0,0,0,1,Primary Transit,2015
3151,KOI-5929 b,NaN,NaN,Warm,Neptunian,gas,metals-rich,non-habitable,NaN,14.16,...,NaN,0,0,0.52,0,0,0,1,Primary Transit,2015